{% extends "_master.html" %}
{% block content %}
<script type="text/javascript">
<!--
//Function To Display Popup
function div_show() {
document.getElementById('abc').style.display = "block";
}
//Function to Hide Popup
function div_hide(){
document.getElementById('abc').style.display = "none";
}
//-->
</script>
{% for car in car_garage %}
<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupEdit">
<!-- Contact Us Form -->
<form action="{{ url_for('update_car', car_id = car.car_id) }}" id="form" method="post" name="form">
<img id="close" src="C:\Users\SFU\PycharmProjects\car-project\project\templates\close.png" height="120" width="120" onclick ="div_hide()">
<h2>Update your Vehicle!</h2>
<hr>
<input id="odom" name="odom" placeholder="Odomoter" type="number">
<input id="oil" name="oil" placeholder="Oil" type="text">
<input id="trans" name="trans" placeholder="Trans" type="text">
<input id="brake" name="brake" placeholder="Brake" type="text">
<br>
<input class="button" type="submit" value="Save">
</form>
</div>
<!-- Popup Div Ends Here -->
</div>
{% endfor %}
<h1>Welcome to CarGarage</h1>
<div class="add-task">
	<h3>Add a new car:</h3>
	<table>
		<tr>
			<form action="{{ url_for('new_car') }}" method="post" class="car">
				<td>
					<label>Make:</label>
					<input name="make" type="text">
				</td>
				<td>
					<label>Model:</label>
					<input name="model" type="text">
				</td>
				<td>
					<label>Color:</label>
					<input name="color" type="text">
				</td>
				<td>
					<label>Year:</label>
					<input name="year" type="number">
				</td>
				<td>
				<br>
				<br>
				<br>							
					<input class="button" type="submit" value="Save">
				<br>
				<br>					
				</td>
			</form>
		</tr>
	</table>
</div>
<div class="entries">
	<br>
	<br>
	<h2>Cars in Your Garage:</h2>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="150px"><strong>Make</strong></th>
					<th width="150px"><strong>Model</strong></th>
					<th width="150px"><strong>Color</strong></th>
					<th width="150px"><strong>Year</strong></th>
					<th><strong>Actions</strong></th>
				</tr>
			</thead>
			{% for car in car_garage %}
				<tr>
					<td width="150px">{{ car.make }}</td>
					<td width="150px">{{ car.model }}</td>
					<td width="150px">{{ car.color }}</td>
					<td width="150px">{{ car.year }}</td>
					<td width="150px">
						<button onclick="div_show()">Update</button> -
						<a href="{{ url_for('delete_car', car_id =
							car.car_id) }}">Delete</a> -
						<a href="{{ url_for('details') }}">More</a>
					</td>
				</tr>
			{% endfor %}
		</table>		
	</div>
	<br>
	<a href="/logout" id="center"><center>Logout</center></a>
</div>

{% endblock %}